:root {
    --color-black: #333;
    --color-orange: #ff4500;
    --color-red: #bb2124;
    --color-green: #22bb33;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: #efefef;
  }
  
  .container {
    width: 100%;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container.expense {
    max-width: 580px;
    margin: 0 auto;
  }
  
  /* Header Section */
  
  header,
  footer {
    padding: 16px 20px;
    width: 100%;
    background-color: var(--color-black);
  }
  footer {
    margin-top: 30px;
    text-align: center;
    color: #fff;
  }
  
  header .header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header .logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
  }
  
  header .logo a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main Section */
  
  main {
    margin-top: 30px;
  }
  
  .block {
    margin-top: 30px;
    padding: 30px 25px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .block_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .block_header h3 {
    font-size: 24px;
  }
  
  .cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }
  
  .card {
    flex: 1;
    padding: 25px;
    border-radius: 6px;
    background-color: #fff;
  }
  
  .card .card_title {
    display: block;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .card .card_value {
    font-weight: 600;
  }
  
  /* Table */
  
  #data_table {
    overflow-x: scroll;
  }
  
  .table_expense {
    width: 100%;
    min-width: 800px;
  }
  
  .table_expense {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .table_expense th {
    padding: 8px;
    color: #fff;
    background-color: #333;
  }
  
  .table_expense th,
  .table_expense td {
    padding: 8px;
    text-align: center;
  }
  
  .table_expense th:nth-child(3),
  .table_expense td:nth-child(3),
  .table_expense th:nth-child(7),
  .table_expense td:nth-child(7) {
    text-align: left;
  }
  
  .table_expense tr:nth-child(even) {
    background-color: #efefef;
  }
  
  .table_expense th:last-child,
  .table_expense td:last-child {
    width: 80px;
  }
  
  /* Chart */
  #pie_chart {
    width: 480px;
    margin: 20px auto;
  }
  
  /* Buttons */
  
  .btn {
    display: block;
    width: max-content;
    font-size: 14px;
    padding: 8px 24px;
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-orange);
    transition: all 0.3s ease-in-out;
  }
  
  .btn:active {
    transform: scale(0.9);
  }
  
  .btn.reset {
    color: #333;
    background-color: #aaa;
  }
  
  .btn_sm {
    padding: 5px 6px;
    font-size: 10px;
    border-radius: 3px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .btn_sm.edit {
    margin-right: 6px;
    background-color: var(--color-green);
  }
  
  .btn_sm.delete {
    background-color: var(--color-red);
  }
  
  .btn_sm i {
    pointer-events: none;
  }
  
  .btn_group {
    margin-top: 20px;
    display: flex;
    column-gap: 30px;
    justify-content: stretch;
  }
  
  .btn_group .btn {
    width: 100%;
  }
  
  .badge {
    font-size: 12px;
    padding: 3px 6px;
    margin: 2px;
    color: #fff;
    background-color: grey;
    border-radius: 50px;
  }
  
  .badge.online {
    background-color: var(--color-green);
  }
  
  .badge.offline {
    background-color: var(--color-red);
  }
  
  /* Forms */
  
  .form_control {
    margin-top: 14px;
  }
  
  .form_control .input_label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
  }
  
  .form_control .input {
    display: block;
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .form_control .input_error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
    /* display: none; */
  }
  .form_control.error .input_error {
    display: inline-block;
  }
  
  /* Filter */
  .filter {
    user-select: none;
  }
  .filter::after {
    content: "▲";
    font-size: 12px;
    margin-left: 4px;
  }
  
  .filter.active::after {
    content: "▼";
  }
  
  /* Model */
  #model_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.5);
    width: 100%;
    height: 100vh;
    display: none;
  }
  #model_wrapper.show {
    display: block;
  }
  
  .model {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 100%;
    max-width: 480px;
    height: 90vh;
    margin: 0 10px;
    overflow-y: scroll;
    padding: 40px 20px 80px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .model .model_close {
    position: absolute;
    right: 20px;
    top: 20px;
  
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .model .model_close:hover {
    background-color: #efefef;
  }
  
  /* Scroll Bar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Media Query */
  
  @media only screen and (max-width: 768px) {
    .cards {
      flex-direction: column;
    }
  
    #pie_chart {
      width: 320px;
    }
  }
  