<div id="model_wrapper" [class]="formOptions.showForm" (click)="closeForm($event)">
    <div class="model">
        <div class="model_header">
            <h3 id="model_title">{{ formOptions.formTitle || "Expense Form" }}</h3>
            <div id="model_close_btn" class="model_close" (click)="closeForm($event)">&#x2715;</div>
        </div>

        <form [formGroup]="expenseForm" (ngSubmit)="formSubmit()" enctype="multipart/form-data">
            <div class="form_control">
                <label for="item_name" class="input_label">Item Name:</label>
                <input type="text" id="item_name" class="input" formControlName="itemName">
                @if (expenseForm.get('itemName')?.hasError('required') && expenseForm.get('itemName')?.touched) {
                <small class="input_error">Item name is required</small>
                }
            </div>

            <div class="form_control">
                <label for="item_description" class="input_label">Item Description:</label>
                <textarea class="input" id="item_description" formControlName="itemDescription" rows="3"></textarea>
                @if (expenseForm.get('itemDescription')?.hasError('required') &&
                expenseForm.get('itemDescription')?.touched) {
                <small class="input_error">Item Description is required</small>
                }
            </div>

            <div class="form_control">
                <label for="item_cost" class="input_label">Item Cost:</label>
                <input type="number" id="item_cost" formControlName="itemCost" class="input">
                @if (expenseForm.get('itemCost')?.hasError('required') && expenseForm.get('itemCost')?.touched) {
                <small class="input_error">Item Cost is required</small>
                }
            </div>

            <div class="form_control">
                <label for="item_category" class="input_label">Item Category:</label>
                <select id="item_category" class="input" formControlName="itemCategory" multiple>
                    @for(category of categories; track category.c_id){
                    <option value="{{ category.c_id }}">{{ category.c_name }}</option>
                    }
                </select>
                @if (expenseForm.get('itemCategory')?.hasError('required') && expenseForm.get('itemCategory')?.touched)
                {
                <small class="input_error">Item Category is required</small>
                }
            </div>

            <div class="form_control">
                <label for="payment_mode" class="input_label">Payment Mode:</label>
                <select id="payment_mode" class="input" formControlName="paymentMode">
                    <option value="" selected disabled>Select</option>
                    <option value="1">Online</option>
                    <option value="0">Offline</option>
                </select>
                @if (expenseForm.get('paymentMode')?.hasError('required') && expenseForm.get('paymentMode')?.touched) {
                <small class="input_error">Payment mode is required</small>
                }
            </div>

            <div class="form_control">
                <label for="bill_file" class="input_label">Upload bill:</label>
                @if(!isFileUploaded){
                <div class="file_input">
                    <input type="file" id="bill_file" class="input" (change)="fileSelect($event)" #fileInput>
                    @if(isFileSelected){
                    <div class="buttons">
                        <button type="button" class="btn_sm edit" (click)="fileUpload()">
                            <i class="fa-solid fa-upload"></i>
                        </button>
                        <button type="button" class="btn_sm delete" (click)="fileUnselect($event)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                    }
                </div>
                }
                @if(isFileUploaded){
                <div class="file_result">
                    <div class="msg">Uploaded: {{uploadedFileName}}</div>
                    <button type="button" class="btn_sm delete" (click)="fileDelete()">Delete file</button>
                </div>
                }
                <small class="input_error"></small>
            </div>

            <h4 style="margin-top: 15px;">Shop Details:</h4>

            <div class="form_control">
                <label for="shop_name" class="input_label">Shop Name:</label>
                <input type="text" id="shop_name" class="input" formControlName="shopName">
            </div>

            <div class="form_control">
                <label for="shop_address" class="input_label">Shop Address:</label>
                <textarea class="input" id="shop_address" class="input" formControlName="shopAddress"
                    rows="3"></textarea>
                <small class="input_error"></small>
            </div>

            <div class="btn_group">
                <button type="submit" class="btn">Save</button>
                <button type="reset" (click)="resetForm()" class="btn reset">Reset</button>
            </div>
        </form>
    </div>
</div>