.file_input{
    display: flex;
    align-items: center;
}

.file_input .input{
    border: none;
}

.file_input .buttons{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.file_input .buttons .btn_sm{
    padding: 7px 8px;
}

.file_result{
    display: flex;
    align-items: center;
    gap: 4px;
}

.file_result .msg{
    flex-grow: 1;
    color: green;
    font-size: 13px;
    width: max-content;
}

.file_result .btn_sm{
    font-size: 11px;
}