<div class="block">
    <div class="block_header">
        <h3>Expenses:</h3>
        <button class="btn" id="add_btn" (click)="addExpense()">Add New</button>
    </div>

    <div id="data_table">
        <table class="table_expense">
            <thead>
                <tr>
                    <!-- <th id="id_filter" class="filter">ID#</th> -->
                    <th>Name</th>
                    <th>Description</th>
                    <th id="cost_filter" class="filter">Cost</th>
                    <th>Category</th>
                    <th id="paymode_filter" class="filter">Payment Mode</th>
                    <th>Bill File</th>
                    <th>Shop Details</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="data_expense">
                @for(exp of expenses; track exp._id){
                <tr>
                    <!-- <td>{{exp._id}}</td> -->
                    <td>{{exp.itemName}}</td>
                    <td>{{exp.itemDescription}}</td>
                    <td>{{exp.itemCost}}</td>
                    <td>
                        @for(c_id of exp.itemCategory; track $index){
                        <span class="badge">{{categories[c_id]}}</span>
                        }
                    </td>
                    <td>
                        @if(exp.paymentMode){
                        <span class='badge online'>Online</span>
                        } @else {
                        <span class='badge offline'>Offline</span>
                        }
                    </td>
                    <td>
                        @if(exp.billFile){
                            <a href="https://api-expense-tracker.vercel.app/uploads/{{exp.billFile}}" class="billfile_link" download>
                            <i class="fa fa-link"></i></a>
                        }@else{
                            {{"-"}}
                        }
                    </td>
                    <td>
                        {{"Name: " + (exp.shopDetails.shopName ? exp.shopDetails.shopName : "-")}} <br>
                        {{"Address: " + (exp.shopDetails.shopAddress ? exp.shopDetails.shopAddress : "-")}}
                    </td>
                    <td>
                        <button class="btn_sm edit" (click)="editExpense(exp._id)">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button class="btn_sm delete" (click)="deleteExpense(exp._id)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="8">
                        <h2 style='text-align:center; margin:30px 0'>No Expense found</h2>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>