<div id="model_wrapper" class="show">
    <div class="model">
        <div class="model_header">
            <h3 id="model_title">{{ formOptions.formTitle || "Expense Form" }}</h3>
            <div id="model_close_btn" class="model_close" (click)="closeForm()">&#x2715;</div>
        </div>

        <form [formGroup]="expenseForm" (ngSubmit)="formSubmit()">
            <input type="hidden" id="item_id" name="item_id" value="" data-rowID="0">

            <div class="form_control">
                <label for="item_name" class="input_label">Item Name:</label>
                <input type="text" id="item_name" name="item_name" formControlName="itemName" (input)="storeInLC()" class="input">
                @if (expenseForm.get('itemName')?.hasError('required') && expenseForm.get('itemName')?.touched) {
                    <small class="input_error">Item name is required</small>
                }
            </div>

            <div class="form_control">
                <label for="item_description" class="input_label">Item Description:</label>
                <textarea class="input" id="item_description" name="item_description" formControlName="itemDescription" (input)="storeInLC()"
                    rows="3"></textarea>
                    @if (expenseForm.get('itemDescription')?.hasError('required') && expenseForm.get('itemDescription')?.touched) {
                        <small class="input_error">Item Description is required</small>
                    }
            </div>

            <div class="form_control">
                <label for="item_cost" class="input_label">Item Cost:</label>
                <input type="number" id="item_cost" name="item_cost" formControlName="itemCost" (input)="storeInLC()" class="input">
                @if (expenseForm.get('itemCost')?.hasError('required') && expenseForm.get('itemCost')?.touched) {
                    <small class="input_error">Item Cost is required</small>
                }
            </div>

            <div class="form_control">
                <label for="item_category" class="input_label">Item Category:</label>
                <select id="item_category" name="item_category[]" formControlName="itemCategory" (input)="storeInLC()" class="input" multiple>
                    <!-- <option value="" selected disabled>Select</option> -->
                    <option value="Food">Food</option>
                    <option value="Milk">Milk</option>
                    <option value="Grocerry">Grocerry</option>
                    <option value="Vegitable">Vegitable</option>
                    <option value="Others">Others</option>
                </select>
                @if (expenseForm.get('itemCategory')?.hasError('required') && expenseForm.get('itemCategory')?.touched) {
                    <small class="input_error">Item Category is required</small>
                }
            </div>

            <div class="form_control">
                <label for="payment_mode" class="input_label">Payment Mode:</label>
                <select id="payment_mode" name="payment_mode" formControlName="paymentMode" (input)="storeInLC()" class="input">
                    <option value="" selected disabled>Select</option>
                    <option value="1">Online</option>
                    <option value="0">Offline</option>
                </select>
                @if (expenseForm.get('paymentMode')?.hasError('required') && expenseForm.get('paymentMode')?.touched) {
                    <small class="input_error">Item Category is required</small>
                }
            </div>

            <h4 style="margin-top: 15px;">Shop Details:</h4>

            <div class="form_control">
                <label for="shop_name" class="input_label">Shop Name:</label>
                <input type="text" id="shop_name" name="shop_name" formControlName="shopName" (input)="storeInLC()" class="input">
                <small class="input_error"></small>
            </div>

            <div class="form_control">
                <label for="shop_address" class="input_label">Shop Address:</label>
                <textarea class="input" id="shop_address" name="shop_address" formControlName="shopAddress" (input)="storeInLC()" rows="3"></textarea>
                <small class="input_error"></small>
            </div>

            <div class="btn_group">
                <button type="submit" class="btn" disabled="!expenseForm.valid">Save</button>
                <button type="reset" class="btn reset">Reset</button>
            </div>
        </form>
    </div>
</div>