<div class="cards" id="numbers">

    <div class="card">
        <h1 class="card_value" id="avg_cost">{{ numbers.avgCost }}</h1>
        <span class="card_title">Average cost</span>
    </div>
    
    <div class="card">
        <h1 class="card_value" id="total_cost">{{ numbers.totalCost }}</h1>
        <span class="card_title">Total Cost</span>
    </div>
    
    <div class="card">
        <h1 class="card_value" id="total_expenses">{{ numbers.totalExpense }}</h1>
        <span class="card_title">Total Expense</span>
    </div>

</div>